[submodule "emu"]
	path = emu
	url = git@git.sch.bme.hu:kszk/schmatrix/matrix-simple/emu.git
	branch = master
	update = merge
[submodule "colorsource"]
	path = colorsource
	url = git@git.sch.bme.hu:kszk/schmatrix/matrix-simple/colorsource.git
	branch = master
	update = merge
[submodule "drawsource"]
	path = drawsource
	url = git@git.sch.bme.hu:kszk/schmatrix/matrix-simple/drawsource.git
	branch = master
	update = merge
[submodule "animsource"]
	path = animsource
	url = git@git.sch.bme.hu:kszk/schmatrix/matrix-simple/animsource.git
	branch = master
	update = merge
[submodule "matrixsource"]
	path = matrixsource
	url = git@git.sch.bme.hu:kszk/schmatrix/matrix-simple/matrixsource.git
	branch = master
	update = merge
[submodule "libmueb-new"]
	path = libmueb-new
	url = git@git.sch.bme.hu:kszk/schmatrix/libmueb.git
	branch = develop
	update = merge
[submodule "q4x-extractor"]
	path = q4x-extractor
	url = git@git.sch.bme.hu:kszk/schmatrix/utils/q4x-extractor.git
	branch = master
	update = merge
