[submodule "libmueb"]
	path = libmueb
	url = https://git.sch.bme.hu/matrix-group/libmueb.git
[submodule "emu"]
	path = emu
	url = https://git.sch.bme.hu/matrix-group/emu
[submodule "colorsource"]
	path = colorsource
	url = https://git.sch.bme.hu/matrix-group/colorsource.git
